

@media (max-width: 410px){
  .boneco_1{margin-left: -40%;width: 130%;margin-top: 30px;}
  .s_child_right{width: 25%;float: left;}
  .s_child_left {width: 75%;float: right;margin-top: 8%;}
  .s_container{width: 81%;margin-left: 15%;margin-top: 5%;}
  header.masthead h1{font-size: 1.7rem!important;}
  .text-white-75{color:white;font-size:13px;}
  .btn-xl{width: 100%!important;padding: 10px!important;margin-left: -50%!important;margin-top: 20%!important;margin-bottom: -25%!important;font-size: .85rem;font-weight: 700;text-transform: uppercase;border: none;border-radius: 10rem;}
  .text-white {font-size: 1em!important;}
  .font_20 {font-size: 13px!important;}
  .size{font-size: 10px;margin-top: -20px;}
  .cont_1{float: none!important;}
  .btn_cont{float:none!important;margin-left: -7%;}
  .s_container_2 {width: 99%!important;margin-top: -25%!important;margin-left: -2%;margin-bottom: -25%!important;}
  .boneco_2 {margin-left: 14%;width: 120%;margin-top: 80%;}
  .cont_2{font-size: 15px!important;}
  .cont_4{width: 80%}
  .cont_3{margin-top: -60px}
  }

@media (min-width: 411px) and (max-width: 549px){
  .size{ font-size:13px!important; }
  .s_child_ridth_2{width:70%!important;margin-right: -7%!important;}
  .boneco_2{margin-left: 17%!important;width:140%!important;margin-top:60%;}
  .btn_cont{float:none!important}
  .cont_1{margin-left:23%; float: none!important}
  .text-white{font-size: 1.1em!important;}
  .font_20{font-size: 0.75em!important;}
  .boneco_1{margin-left: -40%;width: 150%;margin-top: 30px;}
  .s_child_right{width: 25%;float: left;}
  .s_child_left {width: 75%;float: right;margin-top: 8%;}
  .s_container{width: 81%!important;margin-left: 15%!important;margin-top: 5%!important;}
  .cont_2{font-size: 15px!important;}
  .cont_4{width: 80%}
  .cont_3{margin-top: -60px}
}

@media (min-width: 550px) and (max-width: 769px){
  .text-white{font-size:25px;}
  .boneco_2{margin-left:-5%!important;width: 170%!important;}
  .size{font-size:13px;}
  .s_child_ridth_2{margin-right:-10%;}
  .boneco_1{margin-left: 0%;width: 105%;}
  .s_child_right{width: 30%;float: left;}
  .s_child_left {width: 70%;float: right;margin-top: 8%;}
.s_container{width: 80%;margin-left: 15%;margin-top: 5%;}
.cont_2{font-size: 20px!important;}
}

@media (min-width: 770px) and (max-width: 990px){
  .boneco_2 {margin-left:-20%!important;width: 130%!important;}
  .boneco_1{margin-left: 40%;width: 75%;}
  .cr-1{width: 80%;margin-left: 10%;margin-top: -15px}
  .s_child_left{width: 60%;float:right;margin-top:8%}
  .s_child_right{width: 40%;float:left}
.s_container{width: 70%;margin-left: 15%; margin-top:5%}

}
.boneco_3{width: 135px;float: right;margin-top: -225px;}
.cont_3{margin-top: -60px}